.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.item {
    color: white;

    min-height: 50px;

    flex-basis:  33.3333%;
}

.first {
    background-color: green;
}

.second {
    background-color: blue;
}

.third {
    background-color: red;
}

.fourth {
    background-color: black;
}

.fifth {
    background-color: violet;
}